$background: #eeeeee;
$text: #2f3c44;
$shadow: #e5e5e5;
$modalBackground: rgba(47, 60, 68, 0.5);
$privacyPolicyText: #a1afb7;
$banner: #a1afb7;
$bannerActive: #f46841;

$black: #000000;
$white: #ffffff;
$grayLight: #e6e6e6;
$gray:  #cad0d4;
$grayDark: #646f75;
$turquoiseLight: #88d5c9;
$turquoiseDark: #41bfac;
$orangeDark: #f46841;
$orangeLight: #ff9679;


$desktopMin: 961px;
$tabletMax: 960px;
$tabletMin: 481px;
$phoneMax: 480px;

