@font-face {
  font-family: 'Web font';
  src: url('../assets/fonts/Gilroy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}